.ButtonRP,
.ButtonRPDisabled {
    display: inline-block;
    background-image: none;
    background-color: rgb(255, 15, 54);
    /* background-color: white; */
    color: rgb(255, 255, 255);
    font-size: 0.75rem;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 28px;
    /* font-family: RobotoBold; */
    white-space: nowrap;
    vertical-align: middle;

    /* height: 30px; */
    min-width: 158px;
    margin: 0;
    padding: 0;
    border: 1px solid rgb(255, 15, 54);
    border-image: initial;
    border-radius: 3px;
    box-sizing: border-box;

    cursor: pointer;
    user-select: none;
    transition: all 0.35s ease 0s;
    transform: skewX(-15deg);
    touch-action: manipulation;
}

.ButtonRPDisabled {
    background: #ccc;
    border-color: #ccc;
}

.ButtonRP span {
    display: inline-block;
    transform: skewX(15deg);
}

.ButtonRP:hover,
.ButtonRP:focus,
.ButtonRP:active {
    outline: 0;
    text-decoration: none;
    color: #ff0f36;
    background: #fff;
}

.ButtonRP:active {
    box-shadow: inset 2px 2px 1px rgba(0, 0, 0, .3);
}

.ButtonRP:disabled {
    background: #ccc;
    color: #000;
    cursor: not-allowed;
}

.btn--3d {
    box-shadow: 1px 3px 0 #b1112b;
    position: relative;
    top: 0
}

.btn--3d:focus,
.btn--3d:hover {
    top: 3px;
    box-shadow: 0 0 0 #b1112b;
    background: #ff5e5e;
    border-color: #ff5e5e;
    color: #fff
}

.btn--header {
    height: 35px;
    line-height: 33px;
    width: 125px;
    min-width: inherit;
    position: relative;
}

.btn--header:hover {
    background: #ff5e5e;
    border-color: #ff5e5e;
    color: #fff
}