input[type=checkbox] {
    display: none;
}

input[type=checkbox]+label {
    /* background: url("checked.png") no-repeat; */
    background-size: 100%;
    background-color: red;
    height: 20px;
    width: 20px;
    display: inline-block;
    padding: 0;
}

input[type=checkbox]:checked+label {
    /* background: url("unchecked.png") no-repeat; */
    background-size: 100%;
    height: 20px;
    width: 20px;
    display: inline-block;
    padding: 0;
}