// Overwrite Bootstrap's variables here
// You can find them in node_modules/bootstrap/scss/_variables.scss
// Copy the variables you need into this file, don't modify files under node_modules/

// Some example variables that you can uncomment:

// Enabling shadows and gradients
$enable-shadows: true;
$enable-gradients: true;

// Changing the body background and text
$body-bg: #fff;
$body-color: #444;

// Changing the border radius of buttons
//$border-radius: 15px;

// Changing the theme colors
$primary: #202f41;
$secondary: #436296;
$success: #2bc550;
$info: #495dff;
$warning: #ef8143;
$danger: #ff293a;
$light: #dfe6ee;
$dark: #0f1319;

// Adding (!) an additional theme color (ex. classes btn-cool, bg-cool)
$theme-colors: (
  "rpGrey": #444,
  "rpGreyDark": #333,
  "rpGreyLight": #535353,
  "rpGreyMoreLight": #808080,
  "rpGreySuperLight": #f5f5f5,
  "rpBlue": #1747a1,
  "rpBlueDark": #12387f,
  "rpBlueLight": #5c7bb5,
  "rpBlueMoreLight": #a1b6db,
  "rpRed": #ff0f36,
  "rpRedDark": #b1112b,
  "rpRedLight": #ff5e5e,
  //   "cool": #4d3fa3,
);
