.CheckboxRP {
    display: table;
}

.CheckboxRP input {
    font-size: 10px;
}

.CheckBoxWrapper {
    position: relative;
    top: 7px;
    /* background-color: red; */
    color: red;
}

.CheckboxRP label {
    display: table-cell;
    padding-left: 10px;
    padding-bottom: 20px;
    /* color: green; */
    font-size: 12px;
}

.CheckboxLabel:before {
    background-color: red;
    color: red;
}