.InputRP {
    position: relative;
    display: inline-block;
    background: #f5f5f5;
    padding: 0;
    margin: 0;
    margin-left: 5px;
    /* margin-bottom: 15px; */
    border: 1px solid #f5f5f5;
    /* border: 1px solid #3775fc; */
    border-radius: 3px;
    transform: skewX(-15deg);
    /* overflow: hidden; */
}

.InputRP label {
    display: block;
    font-weight: bold;
    /* margin-bottom: 3px; */
    padding: 0;
}

.InputRP input {
    /* display: block; */
    /* width: 150px; */
    box-sizing: border-box;
    /* border: 1px solid #bebebe; */
    /* padding: 7px; */
    /* margin: 0 0 5px; */
    outline: none;
    /* transition: all 300 ease-in-out; */

    transform: skewX(15deg);
    /* background: 0; */
    background: none;
    /* height: 33px; */
    border: 0px;
    padding: 0 20px 0 20px;
    /* width: 300px; */
    font-size: .75rem;
    /* font-family: "RobotoBold" */
}

.InputRP span {
    color: #f01f30;
    font-size: 12px;
    font-weight: 600;
    background-color: white;
    margin-bottom: 20px;
    line-height: 10px;
    height: 30px;
}

/* .errorMessage {
    display: block;
    height: 30px;
} */

.InputRP.invalid label {
    color: #f01f30;
}

.topSearch {
    margin-right: 1px;
    height: 33px;
    line-height: 26px;
}

.topSearch input {
    /* color: red; */
}

.registerModal {
    margin-bottom: 14px;
    height: 33px;
    line-height: 26px;
}