.LoginForm {
    /* background-color: green; */
}

.login--input {
    margin: 0 4px 14px 4px;
    transform: skewX(-15deg);
    border: 1px solid #f5f5f5;
    background: #f5f5f5;
    border-radius: 4px;
    position: relative;
    display: block
}

.form-group,
.form__group {
    margin: 0 4px 14px 4px;
    -webkit-transform: skewX(-15deg);
    transform: skewX(-15deg);
    border: 1px solid #f5f5f5;
    background: #f5f5f5;
    border-radius: 4px;
    position: relative;
    display: block
}

.form-group.is-focus,
.form__group.is-focus {
    background: #fff;
    border-color: #e0e0e0
}

.centered {
    text-align: center;
}

.rememberMe {
    margin-bottom: 15px;
    font-size: 12px;
    /* padding-left: 20px; */
}

.rememberMe input {
    margin-right: 5px;
    /* color: red; */
    /* font-size: 12px;
    padding-left: 20px; */
}