.FooterLogo {
  padding: 30px;
}

.FooterLogoNote {
  background-color: transparent;
  text-align: left;
  position: relative;
  top: -23px;
  padding-left: 50px;
  width: 200px;
  color: #a1b6db;
  font-size: 0.65rem;
  white-space: normal;
}
