.BottomFooterBar {
  display: flex;
  justify-content: flex-end;
}
.BottomFooterSpanLeft,
.BottomFooterSpanRight {
  display: flex;
  height: 38px;
  box-shadow: none;
  color: #5c7bb5;
  font-size: 0.75rem;
  padding: 10px 0;
}

.BottomFooterSpanRight {
  text-align: right;
}
