$bgDefault: #ffffff;
$BrandBlueDark: #435e8e;
$BrandBlueLight: #435e8e;
$BrandBlue: #435e8e;
$BrandRedDark: #435e8e;
$BrandRedLight: #435e8e;
$BrandRed: #435e8e;
$colDefault: #ffffff;
$colDark: #ecdbff;
$dropDown: false;

.footer {
  background-color: #ddd !important;
}

.logoNote3 {
  background-color: transparent !important;
  font-weight: normal;
  text-align: left;
  border-radius: 2px !important;
  position: relative !important;
  top: -23px;
  left: 0px;
  padding: 0 10px 0 50px !important;
  background-color: transparent !important;
  color: #a1b6db !important;
  font-size: 0.65rem;
}
