.footer {
  padding: 30px;
}

.logoFooterNote {
  display: block;
  background-color: transparent;
  text-align: left;
  position: absolute;
  top: 35px;
  margin-left: 50px;
  width: 150px;
  color: #a1b6db;
  font-weight: 500;
  white-space: normal;
  font-size: 0.5625rem;
  line-height: 1.3;
}

.logoFooterImg {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}
