.FooterMenu {
  /* color: rpRedLight; */
  font-size: 0.75rem;
  /* text-transform: uppercase; */
}

.FooterMenuTitle {
  text-transform: uppercase;
  margin-bottom: 15px;
}
.FooterMenu li > a {
  color: #a1b6db;
  line-height: 24px;
  font-weight: 500;
}

.FooterMenu li > a:hover {
  color: #ffffff;
  text-decoration: none;
}

.FooterMenu li {
  list-style-type: none;
  color: red;
  padding: 0;
}
.FooterMenu ul {
  list-style-type: none;
  padding: 0;
}

a,
.link {
  transition: color 0.35s, background-color 0.35s, border-color 0.35s;
  transition-property: color, background-color, border-color;
  transition-duration: 0.35s, 0.35s, 0.35s;
  transition-timing-function: ease, ease, ease;
  transition-delay: 0s, 0s, 0s;
}
