.TopHeaderBar {
  display: flex;
  color: #444;
  padding-left: 0;
  box-shadow: none;
}
.TopHeaderSpanLeft,
.TopHeaderSpanRight {
  flex: 1 1 0%;
  font-size: 0.68rem;
  height: 25px;
  padding: 4px 0;
}

.TopHeaderSpanRight {
  text-align: right;
}
