.HeaderLogo {
  background-color: #ddd !important;
  padding: 300px;
}

.HeaderLogoNote {
  display: block;
  font-size: 0.75rem;
  font-weight: 600;
  color: #747474;
  line-height: 1;
  margin-top: 7px;
  white-space: nowrap;
}

.HeaderLogoNote a:hover,
.HeaderLogoNote link {
  color: #ffffff;
  text-decoration: none;
}
