.NavAbout {
  background-color: #12387f;
  font-size: 0.8125rem;
  /* font-weight: 800px; */
  text-transform: uppercase;
  margin-left: -30px;
  display: inline-block;
}

.NavAbout ul {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  box-sizing: border-box;
}
.NavAbout ul li {
  list-style: none;
  margin: 0;
  display: inline-block;
}

.NavAbout ul li > a,
.NavAbout ul li > span {
  display: inline-block;
  padding: 0 15px;
  height: 38px;
  line-height: 38px;
  background: transparent;
  color: #fff;
}

.NavAbout ul li > a:hover,
.NavAbout ul li > a:focus {
  text-decoration: none;
  background: #ff0f36;
}

.navigation__about > a i {
  display: inline-block;
  margin-right: 10px;
  vertical-align: -9px;
  /* background-image: url(../assets/images/sprite.png); */
  background-position: 0 -24px;
  width: 20px;
  height: 24px;
}
