.NavbarBlock {
  font-size: 0.8125rem;
  /* font-weight: 800px; */
  text-transform: uppercase;
  margin-left: -30px;
  display: inline-block;
}

.NavbarBlock ul {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  box-sizing: border-box;
}

.NavbarBlock ul li {
  list-style: none;
  margin: 0;
  display: inline-block;
}

.NavbarBlock ul li > a,
.NavbarBlock ul li > span {
  display: inline-block;
  padding: 0 15px;
  height: 38px;
  line-height: 38px;
  background: transparent;
  color: #fff;
}

.NavbarBlock ul li > a:hover,
.NavbarBlock ul li > a:focus {
  text-decoration: none;
  background: #3f69b8;
}
