.ModalFrame {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000000;
}

.InModalContent {
    position: relative;
    display: table;
    margin: 0 auto;
    top: 50px;
    width: 80%;
    /* width: auto; */
    height: 500px;
    max-width: 280px;
    padding: 26px;
    margin: 20px auto;
    box-sizing: border-box;
    border-radius: 4px;
    /* background: rgb(159, 231, 231); */
    background: #fff;
    z-index: 1000000;
    /* transform: translateX(500px); */
    /* transition: transform .22s ease-in; */
    transition: all 1.3s ease-out;
    transition: opacity 1.3s;
}

.InModalContent.close,
.ModalFrame.close {
    transition: all 1.3s ease-out;
    transition: opacity 1.3s;
    /* transform: translateX(-300px); */
    display: none;
}

.InModalContent h4 {
    color: red;
}

.InModalContent .popup__title {
    text-transform: uppercase;
    /* font-size: 1.375rem; */
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    /* font-weight: bold; */
    color: #ff0f36;
    line-height: 1;
    margin-bottom: 22px;
}

h3 {
    text-transform: uppercase;
    /* font-size: 1.375rem; */
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    /* font-weight: bold; */
    color: #ff0f36;
    line-height: 1;
    margin-bottom: 22px;
}