.RegisterForm {
  /* background-color: red; */
}

.centered {
  text-align: center;
}

.userType {
  margin-bottom: 15px;
}

.userType label {
  margin-left: 10px;
  font-weight: 400;
  font-size: 14px;
}

.isAccepted {
  margin: 0 0 10px 25px;
  font-size: 10px;
}

.isAccepted input {
  position: relative;
  top: -30px;
  margin: 0 10px 0 -25px;
}